hmtl,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;

}


:root {
  --primary: blue 
  --h1: 1rem
}

body{
  background-color: aqua;
}

h1{
  font-size: var(--h1);
}

.warm{
  --primary:var(--light-red);
}

.cool {
  --primary: var(blue);
}


.Foodcard {
  width: 22%; /* Width of each card */
  height: auto; /* Automatic height */
  border: 4px solid burlywood; /* Border style */
  border-radius: 12px; /* Rounded corners */
  display: flex; /* Use flexbox for card layout */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center content */
  justify-content: space-around; /* Space items evenly */
  margin: 1rem; /* Margin for spacing */
  background-color: beige; /* Background color */
}


button {
  padding: 0.5rem 1rem; /* Padding for button */
  margin: 1rem 0; /* Margin for spacing */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  background-color: blue; /* Background color */
  color: white; /* Text color */
  cursor: pointer; /* Pointer cursor on hover */
}


img {
  width: 100%; /* Full width of image */
  height: 300px; /* Fixed height for images */
  object-fit: cover; /* Cover the space */
}

