hmtl,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;

}


:root {
  --primary: blue 
  --h1: 1rem
}

body{
  background-color: aqua;
}

h1{
  font-size: var(--h1);
}

.warm{
  --primary:var(--light-red);
}

.cool {
  --primary: var(blue);
}